.form {
  display: flex;
  max-width: 924px;
  margin: auto;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}
        
.result {
  display: flex;
  margin: auto;
  gap: 12px;
  justify-content: center;
  margin-top: 48px;
  height: 340px;
  align-items: flex-end
}

.buttons_sort {
  display: flex;
  gap: 12px;
  max-width: 420px;
}

.inputs {
  display: flex;
  gap: 40px;
}

.restangle {
  width: 50px;
  border: 1px solid red;
}